SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdUsuario] [int] NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Modulo] [nvarchar](50) NULL,
	[Accion] [nvarchar](255) NULL,
	[Criticidad] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_PERFIL]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_PERFIL](
	[IdUsuario] [int] NOT NULL,
	[NombreCompleto] [varchar](200) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIGITO_VERIFICADOR_VERTICAL]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIGITO_VERIFICADOR_VERTICAL](
	[Entidad] [varchar](100) NOT NULL,
	[Columna] [varchar](100) NOT NULL,
	[DVV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Entidad] ASC,
	[Columna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORICO_PRECIO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO_PRECIO](
	[IdHistorico] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAQUETE]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAQUETE](
	[IdPaquete] [int] IDENTITY(1,1) NOT NULL,
	[Destino] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[FechaSalida] [date] NOT NULL,
	[FechaRegreso] [date] NOT NULL,
	[DuracionDias] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[CuposTotal] [int] NOT NULL,
	[CuposDisponibles] [int] NOT NULL,
	[Activo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAQUETE_SERVICIO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAQUETE_SERVICIO](
	[IdPaquete] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaquete] ASC,
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[PrecioActual] [decimal](18, 2) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPaquete] [int] NOT NULL,
	[FechaReserva] [datetime] NOT NULL,
	[CantPersonas] [int] NOT NULL,
	[ImporteTotal] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_PERMISO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_PERMISO](
	[IdRol] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUD]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUD](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdReserva] [int] NULL,
	[IdEmpleado] [int] NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaResolucion] [datetime] NULL,
	[Respuesta] [varchar](500) NULL,
	[DevolucionPago] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRADUCCION]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRADUCCION](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NULL,
	[NombreControl] [varchar](100) NOT NULL,
	[Texto] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Bloqueado] [int] NOT NULL,
	[DVH] [int] NOT NULL,
	[IdIdioma] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[IdUsuario] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL_ROL]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL_ROL](
	[IdUsuario] [int] NOT NULL,
	[IdRolPadre] [int] NOT NULL,
	[IdRolHijo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRolPadre] ASC,
	[IdRolHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (1, CAST(N'2026-04-20T00:14:24.483' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Login Exitoso', N'INFO')
INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (2, CAST(N'2026-04-20T00:27:38.467' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Login Exitoso', N'INFO')
INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (3, CAST(N'2026-04-20T00:27:44.463' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Cierre de sesión', N'INFO')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[CLIENTE_PERFIL] ([IdUsuario], [NombreCompleto], [DNI], [Telefono], [Email]) VALUES (1, N'franco', N'2222222222222', N'2222222222222', N'hh@gmail.com')
INSERT [dbo].[CLIENTE_PERFIL] ([IdUsuario], [NombreCompleto], [DNI], [Telefono], [Email]) VALUES (5, N'marco pppp', N'45512516', N'95165161', N'marco@gmail.com')
GO
INSERT [dbo].[DIGITO_VERIFICADOR_VERTICAL] ([Entidad], [Columna], [DVV]) VALUES (N'USUARIO', N'Bloqueado', 358)
INSERT [dbo].[DIGITO_VERIFICADOR_VERTICAL] ([Entidad], [Columna], [DVV]) VALUES (N'USUARIO', N'IntentosFallidos', 380)
INSERT [dbo].[DIGITO_VERIFICADOR_VERTICAL] ([Entidad], [Columna], [DVV]) VALUES (N'USUARIO', N'NombreUsuario', 477)
GO
SET IDENTITY_INSERT [dbo].[HISTORICO_PRECIO] ON 

INSERT [dbo].[HISTORICO_PRECIO] ([IdHistorico], [IdProducto], [Precio], [FechaModificacion], [IdUsuario]) VALUES (1, 1, CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-06-06T18:23:22.900' AS DateTime), 2)
INSERT [dbo].[HISTORICO_PRECIO] ([IdHistorico], [IdProducto], [Precio], [FechaModificacion], [IdUsuario]) VALUES (2, 1, CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-06-06T18:23:36.667' AS DateTime), 2)
INSERT [dbo].[HISTORICO_PRECIO] ([IdHistorico], [IdProducto], [Precio], [FechaModificacion], [IdUsuario]) VALUES (3, 2, CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-06-06T18:23:43.950' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[HISTORICO_PRECIO] OFF
GO
SET IDENTITY_INSERT [dbo].[IDIOMA] ON 

INSERT [dbo].[IDIOMA] ([IdIdioma], [Nombre]) VALUES (1, N'Español')
INSERT [dbo].[IDIOMA] ([IdIdioma], [Nombre]) VALUES (2, N'Inglés')
INSERT [dbo].[IDIOMA] ([IdIdioma], [Nombre]) VALUES (3, N'Mandarin')
SET IDENTITY_INSERT [dbo].[IDIOMA] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGO] ON 

INSERT [dbo].[PAGO] ([IdPago], [IdReserva], [Monto], [FechaPago], [MetodoPago], [Estado]) VALUES (1, 3, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-10-03T16:44:25.770' AS DateTime), N'Efectivo', N'Confirmado')
INSERT [dbo].[PAGO] ([IdPago], [IdReserva], [Monto], [FechaPago], [MetodoPago], [Estado]) VALUES (2, 5, CAST(5.00 AS Decimal(10, 2)), CAST(N'2026-10-04T15:39:26.517' AS DateTime), N'Tarjeta de crédito', N'Confirmado')
INSERT [dbo].[PAGO] ([IdPago], [IdReserva], [Monto], [FechaPago], [MetodoPago], [Estado]) VALUES (3, 6, CAST(9000.00 AS Decimal(10, 2)), CAST(N'2026-10-04T15:44:00.240' AS DateTime), N'Tarjeta de débito', N'Confirmado')
SET IDENTITY_INSERT [dbo].[PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PAQUETE] ON 

INSERT [dbo].[PAQUETE] ([IdPaquete], [Destino], [Descripcion], [FechaSalida], [FechaRegreso], [DuracionDias], [Precio], [CuposTotal], [CuposDisponibles], [Activo]) VALUES (1, N'mar del plata', N'viaje a mar del plata', CAST(N'2026-12-01' AS Date), CAST(N'2026-12-08' AS Date), 20, CAST(550000.00 AS Decimal(10, 2)), 7, 7, 1)
INSERT [dbo].[PAQUETE] ([IdPaquete], [Destino], [Descripcion], [FechaSalida], [FechaRegreso], [DuracionDias], [Precio], [CuposTotal], [CuposDisponibles], [Activo]) VALUES (2, N'dubai', N'viaje a dubai', CAST(N'2026-09-24' AS Date), CAST(N'2026-09-30' AS Date), 20, CAST(10.00 AS Decimal(10, 2)), 6, 5, 1)
INSERT [dbo].[PAQUETE] ([IdPaquete], [Destino], [Descripcion], [FechaSalida], [FechaRegreso], [DuracionDias], [Precio], [CuposTotal], [CuposDisponibles], [Activo]) VALUES (3, N'lanus', N'lanus', CAST(N'2026-09-23' AS Date), CAST(N'2026-09-24' AS Date), 2, CAST(1500.00 AS Decimal(10, 2)), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[PAQUETE] OFF
GO
INSERT [dbo].[PAQUETE_SERVICIO] ([IdPaquete], [IdServicio]) VALUES (1, 1)
INSERT [dbo].[PAQUETE_SERVICIO] ([IdPaquete], [IdServicio]) VALUES (1, 2)
INSERT [dbo].[PAQUETE_SERVICIO] ([IdPaquete], [IdServicio]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([IdPermiso], [Nombre], [Descripcion]) VALUES (1, N'VerBitacora', N'Acceso al formulario de Bitácora')
INSERT [dbo].[PERMISO] ([IdPermiso], [Nombre], [Descripcion]) VALUES (2, N'VerUsuariosBloqueados', N'Acceso al formulario de Usuarios Bloqueados')
INSERT [dbo].[PERMISO] ([IdPermiso], [Nombre], [Descripcion]) VALUES (3, N'RegistrarUsuario', N'Acceso al formulario de Registro de Usuario')
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [PrecioActual], [Activo]) VALUES (1, N'Celular', CAST(5000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [PrecioActual], [Activo]) VALUES (2, N'Celular', CAST(5000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [PrecioActual], [Activo]) VALUES (3, N'celular', CAST(11111.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[RESERVA] ON 

INSERT [dbo].[RESERVA] ([IdReserva], [IdUsuario], [IdPaquete], [FechaReserva], [CantPersonas], [ImporteTotal], [Estado]) VALUES (1, 5, 1, CAST(N'2026-09-21T19:30:51.010' AS DateTime), 2, CAST(1100000.00 AS Decimal(10, 2)), N'Cancelada')
INSERT [dbo].[RESERVA] ([IdReserva], [IdUsuario], [IdPaquete], [FechaReserva], [CantPersonas], [ImporteTotal], [Estado]) VALUES (2, 5, 2, CAST(N'2026-09-21T20:23:26.117' AS DateTime), 1, CAST(10.00 AS Decimal(10, 2)), N'Cancelada')
INSERT [dbo].[RESERVA] ([IdReserva], [IdUsuario], [IdPaquete], [FechaReserva], [CantPersonas], [ImporteTotal], [Estado]) VALUES (3, 5, 3, CAST(N'2026-09-21T20:28:13.627' AS DateTime), 1, CAST(1500.00 AS Decimal(10, 2)), N'Confirmada')
SET IDENTITY_INSERT [dbo].[RESERVA] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IdRol], [Nombre], [Descripcion]) VALUES (1, N'UsuarioNormal', N'Acceso básico al sistema')
INSERT [dbo].[ROL] ([IdRol], [Nombre], [Descripcion]) VALUES (2, N'Administrador', N'Acceso total al sistema')
INSERT [dbo].[ROL] ([IdRol], [Nombre], [Descripcion]) VALUES (3, N'WebMaster', N'Administración de base de datos')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
INSERT [dbo].[ROL_PERMISO] ([IdRol], [IdPermiso]) VALUES (1, 11)
INSERT [dbo].[ROL_PERMISO] ([IdRol], [IdPermiso]) VALUES (1, 13)
INSERT [dbo].[ROL_PERMISO] ([IdRol], [IdPermiso]) VALUES (1, 15)
GO
SET IDENTITY_INSERT [dbo].[SERVICIO] ON 

INSERT [dbo].[SERVICIO] ([IdServicio], [Nombre], [Descripcion]) VALUES (1, N'Alojamiento', N'Incluye hospedaje en hotel')
INSERT [dbo].[SERVICIO] ([IdServicio], [Nombre], [Descripcion]) VALUES (2, N'Transporte', N'Incluye traslados y vuelos')
INSERT [dbo].[SERVICIO] ([IdServicio], [Nombre], [Descripcion]) VALUES (3, N'Desayuno', N'Incluye desayuno diario')
SET IDENTITY_INSERT [dbo].[SERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[SOLICITUD] ON 

INSERT [dbo].[SOLICITUD] ([IdSolicitud], [IdUsuario], [IdReserva], [IdEmpleado], [Tipo], [Descripcion], [Estado], [FechaCreacion], [FechaResolucion], [Respuesta], [DevolucionPago]) VALUES (1, 5, 1, 1, N'Cancelación de reserva', N'quiero cancelar la reserva porque me equivoque', N'Cerrada', CAST(N'2026-09-21T19:33:45.580' AS DateTime), CAST(N'2026-09-21T19:36:39.860' AS DateTime), N'buenas, ahora le hacemos la baja de la reserva', 0)
INSERT [dbo].[SOLICITUD] ([IdSolicitud], [IdUsuario], [IdReserva], [IdEmpleado], [Tipo], [Descripcion], [Estado], [FechaCreacion], [FechaResolucion], [Respuesta], [DevolucionPago]) VALUES (2, 5, 2, 1, N'Cancelación de reserva', N'hola', N'Cerrada', CAST(N'2026-09-21T20:24:56.743' AS DateTime), CAST(N'2026-09-21T20:25:27.880' AS DateTime), N'eliminamos la consulta', 0)
SET IDENTITY_INSERT [dbo].[SOLICITUD] OFF
GO
SET IDENTITY_INSERT [dbo].[TRADUCCION] ON 

INSERT [dbo].[TRADUCCION] ([IdTraduccion], [IdIdioma], [NombreControl], [Texto]) VALUES (1, 2, N'Login', N'Login')
INSERT [dbo].[TRADUCCION] ([IdTraduccion], [IdIdioma], [NombreControl], [Texto]) VALUES (2, 2, N'btnSalirInterfaz', N'Exit')
INSERT [dbo].[TRADUCCION] ([IdTraduccion], [IdIdioma], [NombreControl], [Texto]) VALUES (3, 1, N'Login', N'Login')
SET IDENTITY_INSERT [dbo].[TRADUCCION] OFF
GO
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password], [IntentosFallidos], [Bloqueado], [DVH], [IdIdioma]) VALUES (1, N'franco', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0, 0, 468, 1)
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password], [IntentosFallidos], [Bloqueado], [DVH], [IdIdioma]) VALUES (2, N'Nehuen', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0, 0, 471, 1)
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password], [IntentosFallidos], [Bloqueado], [DVH], [IdIdioma]) VALUES (3, N'PEPE', N'f6e0a1e2ac41945a9aa7ff8a8aaa0cebc12a3bcc981a929ad5cf810a090e11ae', 0, 0, 974, NULL)
GO
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso]) VALUES (1, 3)
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso]) VALUES (1, 7)
GO
INSERT [dbo].[USUARIO_ROL] ([IdUsuario], [IdRol]) VALUES (1, 2)
INSERT [dbo].[USUARIO_ROL] ([IdUsuario], [IdRol]) VALUES (2, 2)
INSERT [dbo].[USUARIO_ROL] ([IdUsuario], [IdRol]) VALUES (3, 1)
GO
INSERT [dbo].[USUARIO_ROL_ROL] ([IdUsuario], [IdRolPadre], [IdRolHijo]) VALUES (1, 3, 4)
INSERT [dbo].[USUARIO_ROL_ROL] ([IdUsuario], [IdRolPadre], [IdRolHijo]) VALUES (2, 2, 3)
INSERT [dbo].[USUARIO_ROL_ROL] ([IdUsuario], [IdRolPadre], [IdRolHijo]) VALUES (4, 2, 3)
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[DIGITO_VERIFICADOR_VERTICAL] ADD  DEFAULT ((0)) FOR [DVV]
GO
ALTER TABLE [dbo].[HISTORICO_PRECIO] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[PAQUETE] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[RESERVA] ADD  DEFAULT (getdate()) FOR [FechaReserva]
GO
ALTER TABLE [dbo].[RESERVA] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[SOLICITUD] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[SOLICITUD] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SOLICITUD] ADD  DEFAULT ((0)) FOR [DevolucionPago]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[CLIENTE_PERFIL]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[HISTORICO_PRECIO]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([IdReserva])
REFERENCES [dbo].[RESERVA] ([IdReserva])
GO
ALTER TABLE [dbo].[PAQUETE_SERVICIO]  WITH CHECK ADD FOREIGN KEY([IdPaquete])
REFERENCES [dbo].[PAQUETE] ([IdPaquete])
GO
ALTER TABLE [dbo].[PAQUETE_SERVICIO]  WITH CHECK ADD FOREIGN KEY([IdServicio])
REFERENCES [dbo].[SERVICIO] ([IdServicio])
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD FOREIGN KEY([IdPaquete])
REFERENCES [dbo].[PAQUETE] ([IdPaquete])
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[CLIENTE_PERFIL] ([IdUsuario])
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[PERMISO] ([IdPermiso])
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([IdReserva])
REFERENCES [dbo].[RESERVA] ([IdReserva])
GO
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[CLIENTE_PERFIL] ([IdUsuario])
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[IDIOMA] ([IdIdioma])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[IDIOMA] ([IdIdioma])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[PERMISO] ([IdPermiso])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_ROL_ROL]  WITH CHECK ADD FOREIGN KEY([IdRolPadre])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_ROL_ROL]  WITH CHECK ADD FOREIGN KEY([IdRolHijo])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_ROL_ROL]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVH]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ActualizarDVH]
    @Id  INT,
    @DVH INT
AS
BEGIN
    UPDATE USUARIO SET DVH = @DVH WHERE ID = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVV]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarDVV]
    @Entidad VARCHAR(100),
    @Columna VARCHAR(100),
    @DVV     INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DIGITO_VERIFICADOR_VERTICAL WHERE Entidad=@Entidad AND Columna=@Columna)
        UPDATE DIGITO_VERIFICADOR_VERTICAL SET DVV=@DVV WHERE Entidad=@Entidad AND Columna=@Columna;
    ELSE
        INSERT INTO DIGITO_VERIFICADOR_VERTICAL (Entidad, Columna, DVV) VALUES (@Entidad, @Columna, @DVV);
END

GO
/****** Object:  StoredProcedure [dbo].[ActualizarIdiomaUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarIdiomaUsuario]
    @IdUsuario INT,
    @IdIdioma INT
AS
BEGIN
    UPDATE USUARIO SET IdIdioma = @IdIdioma WHERE ID = @IdUsuario;
END

GO
/****** Object:  StoredProcedure [dbo].[AgregarPermisoARol]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarPermisoARol]
    @IdRol     INT,
    @IdPermiso INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ROL_PERMISO WHERE IdRol=@IdRol AND IdPermiso=@IdPermiso)
        INSERT INTO ROL_PERMISO (IdRol, IdPermiso) VALUES (@IdRol, @IdPermiso);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarPermisoAUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarPermisoAUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM USUARIO_PERMISO WHERE IdUsuario=@IdUsuario AND IdPermiso=@IdPermiso)
        INSERT INTO USUARIO_PERMISO (IdUsuario, IdPermiso) VALUES (@IdUsuario, @IdPermiso);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarServicioAPaquete]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarServicioAPaquete]
    @IdPaquete  INT,
    @IdServicio INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM PAQUETE_SERVICIO
                   WHERE IdPaquete=@IdPaquete AND IdServicio=@IdServicio)
        INSERT INTO PAQUETE_SERVICIO (IdPaquete, IdServicio)
        VALUES (@IdPaquete, @IdServicio);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarSubRol]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarSubRol]
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ROL_ROL WHERE IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo)
        INSERT INTO ROL_ROL (IdRolPadre, IdRolHijo) VALUES (@IdRolPadre, @IdRolHijo);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarSubRolAUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AgregarSubRolAUsuario]
    @IdUsuario  INT,
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM USUARIO_ROL_ROL 
        WHERE IdUsuario=@IdUsuario AND IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo)
        INSERT INTO USUARIO_ROL_ROL VALUES (@IdUsuario, @IdRolPadre, @IdRolHijo);
END

GO
/****** Object:  StoredProcedure [dbo].[AsignarEmpleadoASolicitud]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AsignarEmpleadoASolicitud]
    @IdSolicitud INT,
    @IdEmpleado  INT
AS
BEGIN
    UPDATE SOLICITUD SET
        IdEmpleado = @IdEmpleado,
        Estado     = 'En revisión'
    WHERE IdSolicitud = @IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[AsignarRolAUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AsignarRolAUsuario]
    @IdUsuario INT,
    @IdRol     INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM USUARIO_ROL WHERE IdUsuario=@IdUsuario AND IdRol=@IdRol)
        INSERT INTO USUARIO_ROL (IdUsuario, IdRol) VALUES (@IdUsuario, @IdRol);
END
GO
/****** Object:  StoredProcedure [dbo].[CancelarReserva]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CancelarReserva]
    @IdReserva INT
AS
BEGIN
    UPDATE PAQUETE SET CuposDisponibles = CuposDisponibles +
        (SELECT CantPersonas FROM RESERVA WHERE IdReserva = @IdReserva)
    WHERE IdPaquete = (SELECT IdPaquete FROM RESERVA WHERE IdReserva = @IdReserva);

    UPDATE RESERVA SET Estado = 'Cancelada' WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[CancelarSolicitud]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CancelarSolicitud]
    @IdSolicitud INT
AS
BEGIN
    UPDATE SOLICITUD SET
        Estado = 'Cerrada'
    WHERE IdSolicitud = @IdSolicitud
    AND Estado IN ('Pendiente', 'En revisión');
END
GO
/****** Object:  StoredProcedure [dbo].[CerrarSolicitud]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CerrarSolicitud]
    @IdSolicitud   INT,
    @DevolucionPago BIT = 0
AS
BEGIN
    UPDATE SOLICITUD SET
        Estado         = 'Cerrada',
        DevolucionPago = @DevolucionPago
    WHERE IdSolicitud = @IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[ConfirmarPago]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConfirmarPago]
    @IdPago INT
AS
BEGIN
    UPDATE PAGO SET Estado = 'Confirmado' WHERE IdPago = @IdPago;
END
GO
/****** Object:  StoredProcedure [dbo].[ConfirmarReserva]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConfirmarReserva]
    @IdReserva INT
AS
BEGIN
    UPDATE RESERVA SET Estado = 'Confirmada' WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[DesbloquearUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesbloquearUsuario]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    UPDATE USUARIO
    SET IntentosFallidos = 0,
        Bloqueado = 0
    WHERE NombreUsuario = @NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPaquete]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarPaquete]
    @IdPaquete INT
AS
BEGIN
    UPDATE PAQUETE SET Activo = 0 WHERE IdPaquete = @IdPaquete;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Baja Lógica de Producto (Eliminar)
CREATE PROCEDURE [dbo].[EliminarProducto]
    @IdProducto INT
AS
BEGIN
    UPDATE PRODUCTO SET Activo = 0 WHERE IdProducto = @IdProducto;
END

GO
/****** Object:  StoredProcedure [dbo].[GuardarTraduccion]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GuardarTraduccion]
    @IdIdioma INT,
    @NombreControl VARCHAR(100),
    @Texto VARCHAR(255)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TRADUCCION WHERE IdIdioma=@IdIdioma AND NombreControl=@NombreControl)
        UPDATE TRADUCCION SET Texto=@Texto WHERE IdIdioma=@IdIdioma AND NombreControl=@NombreControl;
    ELSE
        INSERT INTO TRADUCCION (IdIdioma, NombreControl, Texto) VALUES (@IdIdioma, @NombreControl, @Texto);
END

GO
/****** Object:  StoredProcedure [dbo].[IncrementarIntentosFallidos]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncrementarIntentosFallidos]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    UPDATE USUARIO
    SET IntentosFallidos = IntentosFallidos + 1,
        Bloqueado = CASE WHEN IntentosFallidos + 1 >= 3 THEN 1 ELSE 0 END
    WHERE NombreUsuario = @NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertarBitacora]
    @IdUsuario INT = NULL,
    @NombreUsuario NVARCHAR(50) = NULL,
    @Modulo NVARCHAR(50),
    @Accion NVARCHAR(255),
    @Criticidad NVARCHAR(20)
AS
BEGIN
    INSERT INTO Bitacora (IdUsuario, NombreUsuario, Modulo, Accion, Criticidad)
    VALUES (@IdUsuario, @NombreUsuario, @Modulo, @Accion, @Criticidad)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarClientePerfil]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarClientePerfil]
    @IdUsuario      INT,
    @NombreCompleto VARCHAR(200),
    @DNI            VARCHAR(20),
    @Telefono       VARCHAR(50),
    @Email          VARCHAR(100)
AS
BEGIN
    INSERT INTO CLIENTE_PERFIL (IdUsuario, NombreCompleto, DNI, Telefono, Email)
    VALUES (@IdUsuario, @NombreCompleto, @DNI, @Telefono, @Email);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarIdioma]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertarIdioma]
    @Nombre VARCHAR(50)
AS
BEGIN
    INSERT INTO IDIOMA (Nombre) VALUES (@Nombre);
END

GO
/****** Object:  StoredProcedure [dbo].[InsertarPago]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertarPago]
    @IdReserva  INT,
    @Monto      DECIMAL(10,2),
    @MetodoPago VARCHAR(50)
AS
BEGIN
    INSERT INTO PAGO (IdReserva, Monto, FechaPago, MetodoPago, Estado)
    VALUES (@IdReserva, @Monto, GETDATE(), @MetodoPago, 'Pendiente');
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarPaquete]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertarPaquete]
    @Destino      VARCHAR(200),
    @Descripcion  VARCHAR(500),
    @FechaSalida  DATE,
    @FechaRegreso DATE,
    @DuracionDias INT,
    @Precio       DECIMAL(10,2),
    @CuposTotal   INT
AS
BEGIN
    INSERT INTO PAQUETE (Destino, Descripcion, FechaSalida, FechaRegreso,
        DuracionDias, Precio, CuposTotal, CuposDisponibles, Activo)
    VALUES (@Destino, @Descripcion, @FechaSalida, @FechaRegreso,
        @DuracionDias, @Precio, @CuposTotal, @CuposTotal, 1);

    SELECT SCOPE_IDENTITY() AS IdPaquete;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarProducto]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Modificamos el SP de Insertar para que registre quién lo creó
CREATE PROCEDURE [dbo].[InsertarProducto]
    @Nombre VARCHAR(100),
    @Precio DECIMAL(18,2),
    @IdUsuario INT
AS
BEGIN
    DECLARE @NuevoId INT;
    
    INSERT INTO PRODUCTO (Nombre, PrecioActual) VALUES (@Nombre, @Precio);
    SET @NuevoId = SCOPE_IDENTITY();
    
    INSERT INTO HISTORICO_PRECIO (IdProducto, Precio, IdUsuario) 
    VALUES (@NuevoId, @Precio, @IdUsuario);
END

GO
/****** Object:  StoredProcedure [dbo].[InsertarReserva]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertarReserva]
    @IdUsuario    INT,
    @IdPaquete    INT,
    @CantPersonas INT,
    @ImporteTotal DECIMAL(10,2)
AS
BEGIN
    INSERT INTO RESERVA (IdUsuario, IdPaquete, FechaReserva,
        CantPersonas, ImporteTotal, Estado)
    VALUES (@IdUsuario, @IdPaquete, GETDATE(),
        @CantPersonas, @ImporteTotal, 'Pendiente');

    UPDATE PAQUETE
    SET CuposDisponibles = CuposDisponibles - @CantPersonas
    WHERE IdPaquete = @IdPaquete;

    SELECT SCOPE_IDENTITY() AS IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarRol]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertarRol]
    @Nombre      VARCHAR(100),
    @Descripcion VARCHAR(255)
AS
BEGIN
    INSERT INTO ROL (Nombre, Descripcion) VALUES (@Nombre, @Descripcion);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarSolicitud]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarSolicitud]
    @IdUsuario    INT,
    @IdReserva    INT = NULL,
    @Tipo         VARCHAR(50),
    @Descripcion  VARCHAR(500)
AS
BEGIN
    INSERT INTO SOLICITUD (IdUsuario, IdReserva, Tipo, Descripcion, Estado, FechaCreacion)
    VALUES (@IdUsuario, @IdReserva, @Tipo, @Descripcion, 'Pendiente', GETDATE());
    SELECT SCOPE_IDENTITY() AS IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarBitacora]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarBitacora]
    @Desde DATETIME = NULL,
    @Hasta DATETIME = NULL,
    @NombreUsuario NVARCHAR(50) = NULL,
    @Criticidad NVARCHAR(20) = NULL,
    @Modulo NVARCHAR(50) = NULL
AS
BEGIN
    SELECT IdBitacora, FechaHora, IdUsuario, NombreUsuario, Modulo, Accion, Criticidad
    FROM Bitacora
    WHERE (@Desde IS NULL OR CAST(FechaHora AS DATE) >= CAST(@Desde AS DATE))
      AND (@Hasta IS NULL OR CAST(FechaHora AS DATE) <= CAST(@Hasta AS DATE))
      AND (@NombreUsuario IS NULL OR NombreUsuario LIKE '%' + @NombreUsuario + '%')
      AND (@Criticidad IS NULL OR Criticidad = @Criticidad)
      AND (@Modulo IS NULL OR Modulo = @Modulo)
    ORDER BY FechaHora DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ListarIdiomas]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarIdiomas]
AS
BEGIN
    SELECT IdIdioma, Nombre FROM IDIOMA;
END

GO
/****** Object:  StoredProcedure [dbo].[ListarPaquetes]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPaquetes]
AS
BEGIN
    SELECT IdPaquete, Destino, Descripcion, FechaSalida, FechaRegreso,
           DuracionDias, Precio, CuposTotal, CuposDisponibles, Activo
    FROM PAQUETE
    WHERE Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPermisos]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPermisos]
AS
BEGIN
    SELECT IdPermiso, Nombre, Descripcion FROM PERMISO;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPermisosDeRol]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPermisosDeRol]
    @IdRol INT
AS
BEGIN
    SELECT P.IdPermiso, P.Nombre, P.Descripcion
    FROM PERMISO P
    INNER JOIN ROL_PERMISO RP ON P.IdPermiso = RP.IdPermiso
    WHERE RP.IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPermisosDirectosDeUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPermisosDirectosDeUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT P.IdPermiso, P.Nombre, P.Descripcion
    FROM PERMISO P
    INNER JOIN USUARIO_PERMISO UP ON P.IdPermiso = UP.IdPermiso
    WHERE UP.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProductos]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Listar Productos Activos (Para la grilla)
CREATE PROCEDURE [dbo].[ListarProductos]
AS
BEGIN
    SELECT IdProducto, Nombre, PrecioActual 
    FROM PRODUCTO 
    WHERE Activo = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[ListarReservasPorUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListarReservasPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT R.IdReserva, R.IdUsuario, R.IdPaquete, P.Destino,
           R.FechaReserva, R.CantPersonas, R.ImporteTotal, R.Estado
    FROM RESERVA R
    INNER JOIN PAQUETE P ON P.IdPaquete = R.IdPaquete
    WHERE R.IdUsuario = @IdUsuario
    AND R.Estado != 'Cancelada'; -- ← agregar esto
END

GO
/****** Object:  StoredProcedure [dbo].[ListarRoles]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarRoles]
AS
BEGIN
    SELECT IdRol, Nombre, Descripcion FROM ROL;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRolesDeUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarRolesDeUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT R.IdRol, R.Nombre, R.Descripcion
    FROM ROL R
    INNER JOIN USUARIO_ROL UR ON R.IdRol = UR.IdRol
    WHERE UR.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarServicios]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarServicios]
AS
BEGIN
    SELECT IdServicio, Nombre, Descripcion FROM SERVICIO;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarServiciosDePaquete]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarServiciosDePaquete]
    @IdPaquete INT
AS
BEGIN
    SELECT S.IdServicio, S.Nombre, S.Descripcion
    FROM SERVICIO S
    INNER JOIN PAQUETE_SERVICIO PS ON S.IdServicio = PS.IdServicio
    WHERE PS.IdPaquete = @IdPaquete;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarSolicitudesPorUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarSolicitudesPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT S.IdSolicitud, S.IdUsuario, S.IdReserva, S.IdEmpleado,
           S.Tipo, S.Descripcion, S.Estado, S.FechaCreacion,
           S.FechaResolucion, S.Respuesta, S.DevolucionPago,
           P.Destino AS DestinoPaquete
    FROM SOLICITUD S
    LEFT JOIN RESERVA R ON R.IdReserva = S.IdReserva
    LEFT JOIN PAQUETE P ON P.IdPaquete = R.IdPaquete
    WHERE S.IdUsuario = @IdUsuario
    ORDER BY S.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarSubRoles]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarSubRoles]
    @IdRolPadre INT
AS
BEGIN
    SELECT R.IdRol, R.Nombre, R.Descripcion
    FROM ROL R
    INNER JOIN ROL_ROL RR ON R.IdRol = RR.IdRolHijo
    WHERE RR.IdRolPadre = @IdRolPadre;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarSubRolesDeUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarSubRolesDeUsuario]
    @IdUsuario  INT,
    @IdRolPadre INT
AS
BEGIN
    SELECT R.IdRol, R.Nombre, R.Descripcion
    FROM ROL R
    INNER JOIN USUARIO_ROL_ROL URR ON R.IdRol = URR.IdRolHijo
    WHERE URR.IdUsuario=@IdUsuario AND URR.IdRolPadre=@IdRolPadre;
END

GO
/****** Object:  StoredProcedure [dbo].[ListarTodasLasReservas]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarTodasLasReservas]
AS
BEGIN
    SELECT R.IdReserva, R.IdUsuario, C.NombreCompleto,
           R.IdPaquete, P.Destino, R.FechaReserva,
           R.CantPersonas, R.ImporteTotal, R.Estado
    FROM RESERVA R
    INNER JOIN PAQUETE P ON P.IdPaquete = R.IdPaquete
    INNER JOIN CLIENTE_PERFIL C ON C.IdUsuario = R.IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarTodasLasSolicitudes]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarTodasLasSolicitudes]
AS
BEGIN
    SELECT S.IdSolicitud, S.IdUsuario, S.IdReserva, S.IdEmpleado,
           S.Tipo, S.Descripcion, S.Estado, S.FechaCreacion,
           S.FechaResolucion, S.Respuesta, S.DevolucionPago,
           C.NombreCompleto AS NombreCliente,
           P.Destino AS DestinoPaquete
    FROM SOLICITUD S
    INNER JOIN CLIENTE_PERFIL C ON C.IdUsuario = S.IdUsuario
    LEFT JOIN RESERVA R ON R.IdReserva = S.IdReserva
    LEFT JOIN PAQUETE P ON P.IdPaquete = R.IdPaquete
    ORDER BY S.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarUsuarios]
AS
BEGIN
    SELECT ID, NombreUsuario FROM USUARIO;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuariosBloqueados]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarUsuariosBloqueados]
AS
BEGIN
    SELECT ID, NombreUsuario, IntentosFallidos, Bloqueado
    FROM USUARIO
    WHERE Bloqueado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login]
    @NombreUsuario varchar(50)
AS
BEGIN
    -- Agregamos IdIdioma al final del SELECT
    SELECT ID, NombreUsuario, Password, IntentosFallidos, Bloqueado, IdIdioma
    FROM USUARIO
    WHERE NombreUsuario = @NombreUsuario
END

GO
/****** Object:  StoredProcedure [dbo].[ModificarPaquete]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ModificarPaquete]
    @IdPaquete    INT,
    @Destino      VARCHAR(200),
    @Descripcion  VARCHAR(500),
    @FechaSalida  DATE,
    @FechaRegreso DATE,
    @DuracionDias INT,
    @Precio       DECIMAL(10,2),
    @CuposTotal   INT
AS
BEGIN
    UPDATE PAQUETE SET
        Destino      = @Destino,
        Descripcion  = @Descripcion,
        FechaSalida  = @FechaSalida,
        FechaRegreso = @FechaRegreso,
        DuracionDias = @DuracionDias,
        Precio       = @Precio,
        CuposTotal   = @CuposTotal
    WHERE IdPaquete = @IdPaquete;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarPrecioProducto]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Modificamos el SP de Modificar para que registre quién cambió el precio
CREATE PROCEDURE [dbo].[ModificarPrecioProducto]
    @IdProducto INT,
    @NuevoPrecio DECIMAL(18,2),
    @IdUsuario INT
AS
BEGIN
    -- Actualizamos el precio actual
    UPDATE PRODUCTO SET PrecioActual = @NuevoPrecio WHERE IdProducto = @IdProducto;
    
    -- Dejamos registro en el histórico de quién y cuándo (GETDATE() es automático)
    INSERT INTO HISTORICO_PRECIO (IdProducto, Precio, IdUsuario) 
    VALUES (@IdProducto, @NuevoPrecio, @IdUsuario);
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerClientePerfil]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerClientePerfil]
    @IdUsuario INT
AS
BEGIN
    SELECT IdUsuario, NombreCompleto, DNI, Telefono, Email
    FROM CLIENTE_PERFIL
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDVV]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerDVV]
    @Entidad VARCHAR(100),
    @Columna VARCHAR(100)
AS
BEGIN
    SELECT DVV FROM DIGITO_VERIFICADOR_VERTICAL
    WHERE Entidad = @Entidad AND Columna = @Columna;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerHistoricoProducto]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerHistoricoProducto]
    @IdProducto INT
AS
BEGIN
    -- ACÁ ESTÁ LA CORRECCIÓN: Agregamos IdUsuario al SELECT
    SELECT IdHistorico, IdProducto, Precio, FechaModificacion, IdUsuario
    FROM HISTORICO_PRECIO
    WHERE IdProducto = @IdProducto
    ORDER BY FechaModificacion ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerPagoPorReserva]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerPagoPorReserva]
    @IdReserva INT
AS
BEGIN
    SELECT IdPago, IdReserva, Monto, FechaPago, MetodoPago, Estado
    FROM PAGO
    WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSolicitud]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerSolicitud]
    @IdSolicitud INT
AS
BEGIN
    SELECT S.IdSolicitud, S.IdUsuario, S.IdReserva, S.IdEmpleado,
           S.Tipo, S.Descripcion, S.Estado, S.FechaCreacion,
           S.FechaResolucion, S.Respuesta, S.DevolucionPago,
           C.NombreCompleto AS NombreCliente,
           P.Destino AS DestinoPaquete
    FROM SOLICITUD S
    INNER JOIN CLIENTE_PERFIL C ON C.IdUsuario = S.IdUsuario
    LEFT JOIN RESERVA R ON R.IdReserva = S.IdReserva
    LEFT JOIN PAQUETE P ON P.IdPaquete = R.IdPaquete
    WHERE S.IdSolicitud = @IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosUsuariosParaDV]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerTodosLosUsuariosParaDV]
AS
BEGIN
    SELECT ID, NombreUsuario, IntentosFallidos, Bloqueado, DVH
    FROM USUARIO;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTraducciones]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerTraducciones]
    @IdIdioma INT
AS
BEGIN
    SELECT NombreControl, Texto FROM TRADUCCION WHERE IdIdioma = @IdIdioma;
END

GO
/****** Object:  StoredProcedure [dbo].[QuitarPermisoDeRol]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarPermisoDeRol]
    @IdRol     INT,
    @IdPermiso INT
AS
BEGIN
    DELETE FROM ROL_PERMISO WHERE IdRol=@IdRol AND IdPermiso=@IdPermiso;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarPermisoDeUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarPermisoDeUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS
BEGIN
    DELETE FROM USUARIO_PERMISO WHERE IdUsuario=@IdUsuario AND IdPermiso=@IdPermiso;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarRolDeUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarRolDeUsuario]
    @IdUsuario INT,
    @IdRol     INT
AS
BEGIN
    DELETE FROM USUARIO_ROL WHERE IdUsuario=@IdUsuario AND IdRol=@IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarServicioDePaquete]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarServicioDePaquete]
    @IdPaquete  INT,
    @IdServicio INT
AS
BEGIN
    DELETE FROM PAQUETE_SERVICIO
    WHERE IdPaquete=@IdPaquete AND IdServicio=@IdServicio;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarSubRol]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarSubRol]
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    DELETE FROM ROL_ROL WHERE IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarSubRolDeUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarSubRolDeUsuario]
    @IdUsuario  INT,
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    DELETE FROM USUARIO_ROL_ROL 
    WHERE IdUsuario=@IdUsuario AND IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo;
END

GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @NombreUsuario varchar(50),
    @Password varchar(100)
AS
BEGIN
    
    DECLARE @NuevoID INT
    SELECT @NuevoID = ISNULL(MAX(ID), 0) + 1 FROM USUARIO
    
  
    INSERT INTO USUARIO (ID, NombreUsuario, Password)
    VALUES (@NuevoID, @NombreUsuario, @Password)
END

GO
/****** Object:  StoredProcedure [dbo].[ResetearIntentos]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentos]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    UPDATE USUARIO
    SET IntentosFallidos = 0,
        Bloqueado = 0
    WHERE NombreUsuario = @NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ResponderSolicitud]    Script Date: 04/10/2026 11:36:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ResponderSolicitud]
    @IdSolicitud INT,
    @Respuesta   VARCHAR(500)
AS
BEGIN
    UPDATE SOLICITUD SET
        Respuesta       = @Respuesta,
        Estado          = 'Resuelta',
        FechaResolucion = GETDATE()
    WHERE IdSolicitud = @IdSolicitud;
END
GO
