.vs/trabajo integrador/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/trabajo integrador/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
.vs/trabajo integrador/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
.vs/trabajo integrador/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/trabajo integrador/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
.vs/trabajo integrador/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
.vs/trabajo integrador/FileContentIndex/47ba1027-2833-457a-9532-030b447b3d67.vsidx
.vs/trabajo integrador/FileContentIndex/54b12071-3552-40bf-afd8-fa35e65cbe1b.vsidx
.vs/trabajo integrador/FileContentIndex/e504d62f-5bfb-478a-b541-f312c6d0eef4.vsidx
.vs/trabajo integrador/FileContentIndex/f074b526-4f3e-4686-acb0-05ea4d93b60c.vsidx
.vs/trabajo integrador/FileContentIndex/f47f73f5-c6b5-42c4-a109-df63a16c7a08.vsidx
.vs/trabajo integrador/v17/.suo
.vs/trabajo integrador/v17/DocumentLayout.backup.json
.vs/trabajo integrador/v17/DocumentLayout.json
.vs/trabajo integrador campo/v17/.wsuo
.vs/trabajo integrador campo/v17/DocumentLayout.json
.vs/trabajo integrador/FileContentIndex/16b94646-66f8-4ae2-a661-d83988c45a6c.vsidx
.vs/trabajo integrador/FileContentIndex/42c76e9c-6c4d-4c1b-9b5e-1ffd84e20fb1.vsidx
.vs/trabajo integrador/FileContentIndex/8b689b10-a6cb-4e31-a0db-b24c6b2542c2.vsidx
.vs/trabajo integrador/FileContentIndex/d4441d58-76bd-4ac9-95ca-e4140164fdd5.vsidx
.vs/trabajo integrador/FileContentIndex/f9be938b-f9a1-4852-b20b-9e79c50dc177.vsidx
.vs/