USE [master]
GO
/****** Object:  Database [TrabajoIntegrador]    Script Date: 6/6/2026 00:22:32 ******/
CREATE DATABASE [TrabajoIntegrador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoIntegrador', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajoIntegrador.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajoIntegrador_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajoIntegrador_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoIntegrador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoIntegrador]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdUsuario] [int] NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Modulo] [nvarchar](50) NULL,
	[Accion] [nvarchar](255) NULL,
	[Criticidad] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_PERMISO]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_PERMISO](
	[IdRol] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Bloqueado] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[IdUsuario] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL_ROL]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL_ROL](
	[IdUsuario] [int] NOT NULL,
	[IdRolPadre] [int] NOT NULL,
	[IdRolHijo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRolPadre] ASC,
	[IdRolHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (1, CAST(N'2026-04-20T00:14:24.483' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Login Exitoso', N'INFO')
INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (2, CAST(N'2026-04-20T00:27:38.467' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Login Exitoso', N'INFO')
INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (3, CAST(N'2026-04-20T00:27:44.463' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Cierre de sesión', N'INFO')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([IdPermiso], [Nombre], [Descripcion]) VALUES (1, N'VerBitacora', N'Acceso al formulario de Bitácora')
INSERT [dbo].[PERMISO] ([IdPermiso], [Nombre], [Descripcion]) VALUES (2, N'VerUsuariosBloqueados', N'Acceso al formulario de Usuarios Bloqueados')
INSERT [dbo].[PERMISO] ([IdPermiso], [Nombre], [Descripcion]) VALUES (3, N'RegistrarUsuario', N'Acceso al formulario de Registro de Usuario')
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IdRol], [Nombre], [Descripcion]) VALUES (1, N'UsuarioNormal', N'Acceso básico al sistema')
INSERT [dbo].[ROL] ([IdRol], [Nombre], [Descripcion]) VALUES (2, N'Administrador', N'Acceso total al sistema')
INSERT [dbo].[ROL] ([IdRol], [Nombre], [Descripcion]) VALUES (3, N'WebMaster', N'Administración de base de datos')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
INSERT [dbo].[ROL_PERMISO] ([IdRol], [IdPermiso]) VALUES (2, 1)
INSERT [dbo].[ROL_PERMISO] ([IdRol], [IdPermiso]) VALUES (2, 2)
INSERT [dbo].[ROL_PERMISO] ([IdRol], [IdPermiso]) VALUES (2, 3)
GO
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password], [IntentosFallidos], [Bloqueado]) VALUES (1, N'franco', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0, 0)
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password], [IntentosFallidos], [Bloqueado]) VALUES (2, N'Nehuen', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0, 0)
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password], [IntentosFallidos], [Bloqueado]) VALUES (3, N'PEPE', N'f6e0a1e2ac41945a9aa7ff8a8aaa0cebc12a3bcc981a929ad5cf810a090e11ae', 0, 0)
GO
INSERT [dbo].[USUARIO_ROL] ([IdUsuario], [IdRol]) VALUES (1, 2)
INSERT [dbo].[USUARIO_ROL] ([IdUsuario], [IdRol]) VALUES (2, 2)
INSERT [dbo].[USUARIO_ROL] ([IdUsuario], [IdRol]) VALUES (3, 1)
GO
INSERT [dbo].[USUARIO_ROL_ROL] ([IdUsuario], [IdRolPadre], [IdRolHijo]) VALUES (1, 2, 3)
INSERT [dbo].[USUARIO_ROL_ROL] ([IdUsuario], [IdRolPadre], [IdRolHijo]) VALUES (1, 3, 4)
INSERT [dbo].[USUARIO_ROL_ROL] ([IdUsuario], [IdRolPadre], [IdRolHijo]) VALUES (5, 3, 2)
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[PERMISO] ([IdPermiso])
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[PERMISO] ([IdPermiso])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_ROL_ROL]  WITH CHECK ADD FOREIGN KEY([IdRolPadre])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_ROL_ROL]  WITH CHECK ADD FOREIGN KEY([IdRolHijo])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO_ROL_ROL]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[AgregarPermisoARol]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarPermisoARol]
    @IdRol     INT,
    @IdPermiso INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ROL_PERMISO WHERE IdRol=@IdRol AND IdPermiso=@IdPermiso)
        INSERT INTO ROL_PERMISO (IdRol, IdPermiso) VALUES (@IdRol, @IdPermiso);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarPermisoAUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarPermisoAUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM USUARIO_PERMISO WHERE IdUsuario=@IdUsuario AND IdPermiso=@IdPermiso)
        INSERT INTO USUARIO_PERMISO (IdUsuario, IdPermiso) VALUES (@IdUsuario, @IdPermiso);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarSubRol]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarSubRol]
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ROL_ROL WHERE IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo)
        INSERT INTO ROL_ROL (IdRolPadre, IdRolHijo) VALUES (@IdRolPadre, @IdRolHijo);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarSubRolAUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AgregarSubRolAUsuario]
    @IdUsuario  INT,
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM USUARIO_ROL_ROL 
        WHERE IdUsuario=@IdUsuario AND IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo)
        INSERT INTO USUARIO_ROL_ROL VALUES (@IdUsuario, @IdRolPadre, @IdRolHijo);
END

GO
/****** Object:  StoredProcedure [dbo].[AsignarRolAUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AsignarRolAUsuario]
    @IdUsuario INT,
    @IdRol     INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM USUARIO_ROL WHERE IdUsuario=@IdUsuario AND IdRol=@IdRol)
        INSERT INTO USUARIO_ROL (IdUsuario, IdRol) VALUES (@IdUsuario, @IdRol);
END
GO
/****** Object:  StoredProcedure [dbo].[DesbloquearUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesbloquearUsuario]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    UPDATE USUARIO
    SET IntentosFallidos = 0,
        Bloqueado = 0
    WHERE NombreUsuario = @NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[IncrementarIntentosFallidos]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncrementarIntentosFallidos]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    UPDATE USUARIO
    SET IntentosFallidos = IntentosFallidos + 1,
        Bloqueado = CASE WHEN IntentosFallidos + 1 >= 3 THEN 1 ELSE 0 END
    WHERE NombreUsuario = @NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertarBitacora]
    @IdUsuario INT = NULL,
    @NombreUsuario NVARCHAR(50) = NULL,
    @Modulo NVARCHAR(50),
    @Accion NVARCHAR(255),
    @Criticidad NVARCHAR(20)
AS
BEGIN
    INSERT INTO Bitacora (IdUsuario, NombreUsuario, Modulo, Accion, Criticidad)
    VALUES (@IdUsuario, @NombreUsuario, @Modulo, @Accion, @Criticidad)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarRol]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertarRol]
    @Nombre      VARCHAR(100),
    @Descripcion VARCHAR(255)
AS
BEGIN
    INSERT INTO ROL (Nombre, Descripcion) VALUES (@Nombre, @Descripcion);
END
GO
/****** Object:  StoredProcedure [dbo].[ListarBitacora]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarBitacora]
    @Desde DATETIME = NULL,
    @Hasta DATETIME = NULL
AS
BEGIN
    SELECT IdBitacora, FechaHora, IdUsuario, NombreUsuario, Modulo, Accion, Criticidad
    FROM Bitacora
    WHERE (@Desde IS NULL OR CAST(FechaHora AS DATE) >= CAST(@Desde AS DATE))
      AND (@Hasta IS NULL OR CAST(FechaHora AS DATE) <= CAST(@Hasta AS DATE))
    ORDER BY FechaHora DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPermisos]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPermisos]
AS
BEGIN
    SELECT IdPermiso, Nombre, Descripcion FROM PERMISO;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPermisosDeRol]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPermisosDeRol]
    @IdRol INT
AS
BEGIN
    SELECT P.IdPermiso, P.Nombre, P.Descripcion
    FROM PERMISO P
    INNER JOIN ROL_PERMISO RP ON P.IdPermiso = RP.IdPermiso
    WHERE RP.IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPermisosDirectosDeUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarPermisosDirectosDeUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT P.IdPermiso, P.Nombre, P.Descripcion
    FROM PERMISO P
    INNER JOIN USUARIO_PERMISO UP ON P.IdPermiso = UP.IdPermiso
    WHERE UP.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRoles]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarRoles]
AS
BEGIN
    SELECT IdRol, Nombre, Descripcion FROM ROL;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRolesDeUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarRolesDeUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT R.IdRol, R.Nombre, R.Descripcion
    FROM ROL R
    INNER JOIN USUARIO_ROL UR ON R.IdRol = UR.IdRol
    WHERE UR.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarSubRoles]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarSubRoles]
    @IdRolPadre INT
AS
BEGIN
    SELECT R.IdRol, R.Nombre, R.Descripcion
    FROM ROL R
    INNER JOIN ROL_ROL RR ON R.IdRol = RR.IdRolHijo
    WHERE RR.IdRolPadre = @IdRolPadre;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarSubRolesDeUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarSubRolesDeUsuario]
    @IdUsuario  INT,
    @IdRolPadre INT
AS
BEGIN
    SELECT R.IdRol, R.Nombre, R.Descripcion
    FROM ROL R
    INNER JOIN USUARIO_ROL_ROL URR ON R.IdRol = URR.IdRolHijo
    WHERE URR.IdUsuario=@IdUsuario AND URR.IdRolPadre=@IdRolPadre;
END

GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarUsuarios]
AS
BEGIN
    SELECT ID, NombreUsuario FROM USUARIO;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuariosBloqueados]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarUsuariosBloqueados]
AS
BEGIN
    SELECT ID, NombreUsuario, IntentosFallidos, Bloqueado
    FROM USUARIO
    WHERE Bloqueado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login]
    @NombreUsuario varchar(50)
AS
BEGIN
    SELECT ID, NombreUsuario, Password, IntentosFallidos, Bloqueado
    FROM USUARIO
    WHERE NombreUsuario = @NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarPermisoDeRol]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarPermisoDeRol]
    @IdRol     INT,
    @IdPermiso INT
AS
BEGIN
    DELETE FROM ROL_PERMISO WHERE IdRol=@IdRol AND IdPermiso=@IdPermiso;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarPermisoDeUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarPermisoDeUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS
BEGIN
    DELETE FROM USUARIO_PERMISO WHERE IdUsuario=@IdUsuario AND IdPermiso=@IdPermiso;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarRolDeUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarRolDeUsuario]
    @IdUsuario INT,
    @IdRol     INT
AS
BEGIN
    DELETE FROM USUARIO_ROL WHERE IdUsuario=@IdUsuario AND IdRol=@IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarSubRol]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarSubRol]
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    DELETE FROM ROL_ROL WHERE IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo;
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarSubRolDeUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuitarSubRolDeUsuario]
    @IdUsuario  INT,
    @IdRolPadre INT,
    @IdRolHijo  INT
AS
BEGIN
    DELETE FROM USUARIO_ROL_ROL 
    WHERE IdUsuario=@IdUsuario AND IdRolPadre=@IdRolPadre AND IdRolHijo=@IdRolHijo;
END

GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @NombreUsuario varchar(50),
    @Password varchar(100)
AS
BEGIN
    
    DECLARE @NuevoID INT
    SELECT @NuevoID = ISNULL(MAX(ID), 0) + 1 FROM USUARIO
    
  
    INSERT INTO USUARIO (ID, NombreUsuario, Password)
    VALUES (@NuevoID, @NombreUsuario, @Password)
END

GO
/****** Object:  StoredProcedure [dbo].[ResetearIntentos]    Script Date: 6/6/2026 00:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentos]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    UPDATE USUARIO
    SET IntentosFallidos = 0,
        Bloqueado = 0
    WHERE NombreUsuario = @NombreUsuario
END
GO
USE [master]
GO
