USE [master]
GO
/****** Object:  Database [TrabajoIntegrador]    Script Date: 19/04/2026 18:22:16 ******/
CREATE DATABASE [TrabajoIntegrador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoIntegrador', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajoIntegrador.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajoIntegrador_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajoIntegrador_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoIntegrador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoIntegrador]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 19/04/2026 18:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 19/04/2026 18:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Creamos el Procedimiento Almacenado
CREATE PROCEDURE [dbo].[Login]
@NombreUsuario varchar(50),
@Password varchar(100)
AS
BEGIN
	SELECT * FROM USUARIO
	WHERE NombreUsuario = @NombreUsuario
	AND Password = @Password
END

GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 19/04/2026 18:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @NombreUsuario varchar(50),
    @Password varchar(100)
AS
BEGIN
    
    DECLARE @NuevoID INT
    SELECT @NuevoID = ISNULL(MAX(ID), 0) + 1 FROM USUARIO
    
  
    INSERT INTO USUARIO (ID, NombreUsuario, Password)
    VALUES (@NuevoID, @NombreUsuario, @Password)
END

GO
USE [master]
GO
