USE [master]
GO
/****** Object:  Database [TrabajoIntegrador]    Script Date: 28/04/2026 23:38:06 ******/
CREATE DATABASE [TrabajoIntegrador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoIntegrador', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajoIntegrador.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajoIntegrador_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajoIntegrador_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoIntegrador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoIntegrador]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 28/04/2026 23:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdUsuario] [int] NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Modulo] [nvarchar](50) NULL,
	[Accion] [nvarchar](255) NULL,
	[Criticidad] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 28/04/2026 23:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (1, CAST(N'2026-04-20T00:14:24.483' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Login Exitoso', N'INFO')
INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (2, CAST(N'2026-04-20T00:27:38.467' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Login Exitoso', N'INFO')
INSERT [dbo].[Bitacora] ([IdBitacora], [FechaHora], [IdUsuario], [NombreUsuario], [Modulo], [Accion], [Criticidad]) VALUES (3, CAST(N'2026-04-20T00:27:44.463' AS DateTime), 2, N'Nehuen', N'Seguridad', N'Cierre de sesión', N'INFO')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password]) VALUES (1, N'franco', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password]) VALUES (2, N'Nehuen', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Password]) VALUES (3, N'PEPE', N'f6e0a1e2ac41945a9aa7ff8a8aaa0cebc12a3bcc981a929ad5cf810a090e11ae')
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 28/04/2026 23:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertarBitacora]
    @IdUsuario INT = NULL,
    @NombreUsuario NVARCHAR(50) = NULL,
    @Modulo NVARCHAR(50),
    @Accion NVARCHAR(255),
    @Criticidad NVARCHAR(20)
AS
BEGIN
    INSERT INTO Bitacora (IdUsuario, NombreUsuario, Modulo, Accion, Criticidad)
    VALUES (@IdUsuario, @NombreUsuario, @Modulo, @Accion, @Criticidad)
END
GO
/****** Object:  StoredProcedure [dbo].[ListarBitacora]    Script Date: 28/04/2026 23:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarBitacora]
    @Desde DATETIME = NULL,
    @Hasta DATETIME = NULL
AS
BEGIN
    SELECT IdBitacora, FechaHora, IdUsuario, NombreUsuario, Modulo, Accion, Criticidad
    FROM Bitacora
    WHERE (@Desde IS NULL OR CAST(FechaHora AS DATE) >= CAST(@Desde AS DATE))
      AND (@Hasta IS NULL OR CAST(FechaHora AS DATE) <= CAST(@Hasta AS DATE))
    ORDER BY FechaHora DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 28/04/2026 23:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Creamos el Procedimiento Almacenado
CREATE PROCEDURE [dbo].[Login]
@NombreUsuario varchar(50),
@Password varchar(100)
AS
BEGIN
	SELECT * FROM USUARIO
	WHERE NombreUsuario = @NombreUsuario
	AND Password = @Password
END

GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 28/04/2026 23:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @NombreUsuario varchar(50),
    @Password varchar(100)
AS
BEGIN
    
    DECLARE @NuevoID INT
    SELECT @NuevoID = ISNULL(MAX(ID), 0) + 1 FROM USUARIO
    
  
    INSERT INTO USUARIO (ID, NombreUsuario, Password)
    VALUES (@NuevoID, @NombreUsuario, @Password)
END

GO
USE [master]
GO
